@{ 
    ViewBag.Title = "Contact Us";
}

<form method="post">
    <!--get information from the user... showing everything left to right-->
    <label>Username: </label>
    <br />
    <input name="name"/>
    <br />
    <label>Email: </label>
    <br />
    <input type="email" name="email"/>
    <br />
    <label>Subject:</label>
    <br />
    <input type="text" name=" subject"/>
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4" name="message"> </textarea>
    <br />
    <input type="submit" vlaue="Send Message" /> <!---->
</form>